{% extends 'base.html' %}
<!--content-->
{% block content %}

<div class="col-md-12 col-lg-4">
  <div class="card">
      <h5 class="card-title text-uppercase p-3 bg-info text-white mb-0">
          Chat Listing
      </h5>
      <div class="p-3">
          {% for user in users %}
          <ul class="list-style-none chat-list">
              <li class="mb-3">
                  <a href="{% url 'chat_page' user.username %}#divine">
                      <div class="d-flex align-items-center">
                          <img src="static/assets/images/users/{{forloop.counter}}.jpg" class="rounded-circle" width="70" height="70">
                          <div class="ml-3">
                              <h5 class="mb-0 text-dark">{{user.get_full_name}}</h5>
                              <small class="text-success">Online</small>
                          </div>
                      </div>
                  </a>
              </li>
          </ul>
          {% endfor %}
      </div>
  </div>
</div>

{% endblock content %}