<h1>Login Page</h1>
<form  id="loginform" method="post">
    {% csrf_token %}
    <div>
        <input type="text" placeholder="Username" name="username">
    </div>
    <br>
    <div>
        <input type="password" placeholder="Password" name="password">
    </div>
    {% for message in messages %}
        <p id="message">{{message}}</p>
    {% endfor %}
    <br>
    <div>
        <div>
            <button type="submit">Log In</button>
        </div>
    </div>
    <div>
        <div>
            Don't have an account? <a href="{% url 'signup' %}"><b>Sign Up</b></a>
        </div>
    </div>
</form>